@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #fff3e0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 100px;
    animation: logoAppear 1s ease-in-out;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    color: #d62300;
    margin-top: 10px;
}

.search-box {
    margin-top: 20px;
}

input {
    width: 70%;
    padding: 10px;
    border: 2px solid #d62300;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

button {
    margin-top: 10px;
    background-color: #d62300;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ffcc00;
    color: #000;
    transform: scale(1.05);
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #12168c;
}
.maintenance {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: white;
    color: red;
    font-size: 24px;
    text-align: center;
}


.floating-logos {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 10%;
    pointer-events: none;  /* Чтобы логотипы не мешали кликам по другим элементам */
    overflow: hidden;
}

.floating-logo {
    position: absolute;
    animation: float 10s ease-in-out infinite;
    opacity: 0.8;
    width: 50px;  /* Можно настроить размер */
    animation-duration: random(10, 20s); /* Меняем длительность анимации случайным образом */
}

/* Анимация движения логотипа */
@keyframes float {
    0% {
        transform: translateX(100vw) translateY(100vh);
    }
    50% {
        transform: translateX(-100vw) translateY(-100vh);
    }
    100% {
        transform: translateX(100vw) translateY(100vh);
    }
}
/* Анимации */
@keyframes logoAppear {
    from { opacity: 0; transform: scale(0.5); }
    to { opacity: 1; transform: scale(1); }
}
